.tests {
  position: fixed;
  max-width: 500px;
  text-align: left;
}

#wrapper {
  font-family: 'Meddon';
  margin-left:auto;
  margin-right:auto;
  width:700px;
  text-align: left;
  line-height: 1.25em
}

h1 {
  font-family: 'Astloch', fantasy;
  font-size: 3em;
  text-align: center;
}



body {
  background-color: black;
  background-image: url("background.jpg");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 350px;
  text-align: center;
}
